.App {
  background-image: url("/public/media/pngegg.png");
  background-repeat: repeat;
  background-size: 30%;
  background-color: #cccccc;
  min-height: 100vh;
}

.App .container {
  padding-right: 0px;
  padding-left: 0px;
}

.home {
  min-height: 80vh;
  max-width: 920px;
}

.footer {
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 600px){
  h1 {
    font-size: smaller;
  }
}